.controller.ds4.white{
	background: url('https://ibrahimatcha.github.io/DS4%20Skins/hodge/basehodge.svgz');
}

.ds4.white.disconnected{
	background-image: url('https://ibrahimatcha.github.io/DS4%20Skins/hodge/disconnectedhodge.svgz');
}

.ds4.white .touchpad{
	background-image: url('https://ibrahimatcha.github.io/DS4%20Skins/hodge/touchpadhodge.png');
}

.ds4.white .touchpad.pressed{
	background-image: url('https://ibrahimatcha.github.io/DS4%20Skins/hodge/touchpadhodgepressed.png');
}

.ds4.white .meta.pressed{
	background: url('https://ibrahimatcha.github.io/DS4%20Skins/hodge/metahodge.svgz');
}

.ds4.white .back, .ds4 .start{
	background-image: url('https://ibrahimatcha.github.io/DS4%20Skins/hodge/starthodge.svgz');
}

.ds4.white .face{
	background-image: url('https://ibrahimatcha.github.io/DS4%20Skins/hodge/dpadhodge.svgz');
}

.ds4.white .button{
	background-image: url('https://ibrahimatcha.github.io/DS4%20Skins/hodge/facehodge.svgz');
}

.ds4.white .stick{
	background-image: url('https://ibrahimatcha.github.io/DS4%20Skins/hodge/stickshodge.svgz');
}

.ds4.white .bumper{
	background-image: url('https://ibrahimatcha.github.io/DS4%20Skins/hodge/bumperhodge.svgz');
}

.ds4.white .trigger{
	background-image: url('https://ibrahimatcha.github.io/DS4%20Skins/hodge/triggershodge.svgz');
}