.controller.xbox{
	background: url('https://ibrahimatcha.github.io/Xbox%20Skins/trinityrev2xbox/basetrinityrev2xbox.svg');
}

.xbox .button{
	background-image: url('https://ibrahimatcha.github.io/Xbox%20Skins/trinityrev2xbox/abxytrinityrev2xbox.svgz');
}

.xbox .face{
	background-image: url('https://ibrahimatcha.github.io/Xbox%20Skins/trinityrev2xbox/dpadtrinityrev2xbox.svgz');
}

.xbox .stick{
	background-image: url('https://ibrahimatcha.github.io/Xbox%20Skins/trinityrev2xbox/sticktrinityrev2xbox.svg');
}

.xbox .back, .xbox .start{
	background-image: url('https://ibrahimatcha.github.io/Xbox%20Skins/trinityrev2xbox/start-selecttrinityrev2xbox.svgz');
}

.xbox .quadrant{
	background-image: none;
}

.xbox .trigger{
	background-image: url('https://ibrahimatcha.github.io/Xbox%20Skins/trinityrev2xbox/triggertrinityrev2xbox.svgz');
}

.xbox .bumper{
	background-image: url('https://ibrahimatcha.github.io/Xbox%20Skins/trinityrev2xbox/bumpertrinityrev2xbox.svgz');
}

.xbox.disconnected{
	background-image: url('https://ibrahimatcha.github.io/Xbox%20Skins/trinityrev2xbox/disconnectedtrinityrev2xbox.svgz');
}