.controller.xbox{
	background: url('https://ibrahimatcha.github.io/Xbox%20Skins/trinityxbox/basetrinityxbox.svgz');
}

.xbox .button{
	background-image: url('https://ibrahimatcha.github.io/Xbox%20Skins/trinityxbox/abxytrinityxbox.svgz');
}

.xbox .face{
	background-image: url('https://ibrahimatcha.github.io/Xbox%20Skins/trinityxbox/dpadtrinityxbox.svgz');
}

.xbox .stick{
	background-image: url('https://ibrahimatcha.github.io/Xbox%20Skins/trinityxbox/sticktrinityxbox.svgz');
}

.xbox .back, .xbox .start{
	background-image: url('https://ibrahimatcha.github.io/Xbox%20Skins/trinityxbox/start-selecttrinityxbox.svgz');
}